<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartions.sinomogo.unity.connect.demo"
	android:installLocation="preferExternal"
	android:theme="@android:style/Theme.NoTitleBar"
    android:versionCode="70"
    android:versionName="1.4" >

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"/>

	<!--SinoMoGo Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<!--SinoMoGo Permissions -->


		
    <application
    	android:name="com.smartions.sinomogo.app.SinoMoGoApplication"
		android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:debuggable="true">
		
		<activity android:name="com.unity3d.player.UnityPlayerProxyActivity"
                  android:label="@string/app_name"
                  android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.unity3d.player.UnityPlayerActivity"
                  android:label="@string/app_name"
                  android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen">
        </activity>
        <activity android:name="com.unity3d.player.UnityPlayerNativeActivity"
                  android:label="@string/app_name"
                  android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen">
            <meta-data android:name="android.app.lib_name" android:value="unity" />
            <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="true" />
        </activity>
        <activity android:name="com.unity3d.player.VideoPlayer"
                  android:label="@string/app_name"
                  android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen">
        </activity>
       

		  
		<!--SinoMoGo Connect Start-->
		 <!-- Wechat -->
        <activity
            android:name="com.smartions.sinomogo.unity.connect.demo.wxapi.WXEntryActivity"
            android:exported="true"
			android:launchMode="singleTask"
			>
        </activity>
		<!-- ShareUI(Required configuration) -->
		<activity
			android:name="com.smartions.sinomogo.connect.openapi.ShareUI"     
			android:configChanges="orientation|keyboardHidden|fontScale|screenSize"   
			android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
			android:launchMode="singleTask"
			>
        </activity>
        <activity
            android:name="com.smartions.sinomogo.connect.openapi.ShareActivity"
            android:configChanges="orientation|screenSize" 
            android:launchMode="singleTask"
            />
		<!-- ShareResult(when you want to know the shareResult, Required configuration) -->
        <receiver android:name="com.smartions.sinomogo.connect.plugin.ShareResultIntentReceiver" >
            <intent-filter>
                <action android:name="com.smartions.sinomogo.unity.connect.demo.android.intent.action.EDIT.SinoMoGoConnect" />
            </intent-filter>
        </receiver>

		<!-- SinoMoGo Analytics -->
		 <service android:name="com.smartions.sinomogo.countly.OpenUDID_service">
		   <intent-filter>
				<action android:name="org.openudid.GETUDID"/>
		   </intent-filter>
		</service>
		<!-- SinoMoGo Analytics -->
		
		<!--SinoMoGo Connect End-->
   
		
</application>
	   
</manifest>
